global:
  persistence:
    size: 10Gi

thanosImage: thanosio/thanos:v0.32.5

sidecar:
  enabled: true

query:
  enabled: true
  replicas: 2
  port: 9090

store:
  enabled: true
  replicas: 2
  persistence:
    enabled: false
    size: 10Gi

compactor:
  enabled: true
  replicas: 1
  persistence:
    enabled: true
    size: 2Gi
    storageClass: ""

objstore:
  type: s3
  config:
    bucket: thanos-metrics
    insecure: true
    signature_version2: false
    http_config:
      idle_conn_timeout: 90s
      response_header_timeout: 2m
      insecure_skip_verify: true

prometheus:
  persistence:
    enabled: true
    size: 5Gi
    storageClass: ""
  retention: "4h"
  instances:
    - name: prometheus-0
      replica: 0
      external_labels:
        cluster: monitoring-cluster
        replica: prometheus-0
    - name: prometheus-1
      replica: 1
      external_labels:
        cluster: monitoring-cluster
        replica: prometheus-1
