apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-grafana-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.postgres.storageSize }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-grafana
  labels:
    app: postgres-grafana
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: postgres-grafana
  template:
    metadata:
      labels:
        app: postgres-grafana
    spec:
      containers:
      - name: postgres
        image: postgres:16
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: grafana-secrets
              key: GF_DATABASE_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: grafana-secrets
              key: GF_DATABASE_PASSWORD
        - name: POSTGRES_DB
          value: "grafana"
        - name: PGDATA
          value: /var/lib/postgresql/data/pgdata
        resources:
        {{- toYaml .Values.postgres.resources | nindent 10 }}
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: postgres-storage
        livenessProbe:
          exec:
            command:
              - pg_isready
              - -U
              - $(POSTGRES_USER)
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          exec:
            command:
              - pg_isready
              - -U
              - $(POSTGRES_USER)
          initialDelaySeconds: 5
          periodSeconds: 5
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-grafana-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: postgres-grafana
spec:
  selector:
    app: postgres-grafana
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: ClusterIP
