apiVersion: v1
kind: Secret
metadata:
  name: thanos-objstore-config
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  objstore.yml: |
    type: S3
    config:
      bucket: "{{ .Values.objstore.config.bucket }}"
      endpoint: {{ .Values.global.objectStorage.endpoint }}
      access_key: {{ .Values.global.objectStorage.accessKey }}
      secret_key: {{ .Values.global.objectStorage.secretKey }}
      insecure: true
      signature_version2: false
      http_config:
        idle_conn_timeout: 90s
        response_header_timeout: 2m
        insecure_skip_verify: true
