apiVersion: v1
kind: ServiceAccount
metadata:
  name: loki
  namespace: {{ .Values.global.namespace | default "observability" }}
  labels:
    {{- include "common.labels" . | nindent 4 }}
    app: loki
  # Uncomment and add cloud provider specific annotations if needed
  # annotations:
  #   eks.amazonaws.com/role-arn: arn:aws:iam::123456789012:role/loki-role

